@keyframes navbar {
    from {
        font-size: 1.04vw;
    }

    to {
        font-size: 1.25vw;
    }
}

@keyframes bodyhover {
    from {
        padding: 0.52vw;
    }

    to {
        padding: 1.56vw;
    }
}

@keyframes navbaractive {
    from {
        font-size: 2.60vw;
        color: #0000003a;
    }

    to {
        color: var(--primary);
        font-size: 3.33vw;
    }
}

@keyframes gradients {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes rise {
    from {
        border: solid 4px #1e1e1e00;
    }

    to {
        border: solid 4px #1e1e1e;
    }
}

@keyframes contacts {
    from {
        font-size: 1.875vw;
    }

    to {
        font-size: 2.19vw;
    }
}

@keyframes contact-ico-anim {
    from {
        font-size: 0;
    }

    to {
        font-size: 2.19vw;
    }
}