@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono');
@import url('animation.css');

:root {
    --primary: #1e1e1e;
    --secondary: #f7f7f7;
    --on-primary: #1e1e1e;
    --alternate: #1b729f;
    --alternate-dark: #1a323e;
}

html {
    max-height: 100vh;
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'JetBrains Mono';
    margin: 0px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
    max-height: 100vh;
}

.scroll-snap-container {
    overflow-y: scroll;
    display: contents;
}

section {
    scroll-snap-align: start;
}

.navbar-container {
    display: none;
    max-width: 0px;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;

}

.page-container {
    width: 50vw;
    max-width: 50vw;
    min-height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* #home-main {
    justify-content: space-around;
} */

.hs,
.hm,
.s {
    width: 50vw;
    align-self: center;
    justify-self: center;
    color: var(--primary);
}

.hs-m {
    display: none;
}

.hs,
.s {
    padding-left: 15vw;
}

.hs {
    font-size: 3.125vw;
    /*5*/
}

.hm {
    padding-left: 12.5vw;
    font-size: 16.66vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradients 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}




.s {
    font-size: 1.4vw;
}

.navdash {
    display: flex;
    flex-direction: column;
    align-content: right;
    justify-content: space-between;
    position: fixed;
    right: 0;

}

.navlinks {
    display: block;
    align-self: self-end;
    font-size: 2.60vw;
    padding: 1.66vw 1.66vw 1.66vw 0;
}

.navlink {
    color: #0000003a;
    text-decoration: none;
}


.navlinks:hover>.navlink {
    color: var(--primary) !important;
    font-size: 3.33vw;
    animation-name: navbaractive;
    animation-duration: 250ms;
}

.about-title {
    display: inline;
    flex-direction: column;
    font-size: 3.33vw;
    transform: rotate(270deg);
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradients 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home-link {
    color: #1e1e1e;
}


.about-text {
    font-size: 1.45vw;
    padding: 0;
}

#about,
#works {
    padding: 0px !important;
}

#about-container,
#work-container {
    padding: 0 !important;
}

.card-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: left;
    align-content: left;

}

.projectcard {
    width: 15.625vw;
    height: 37vh;
    word-wrap: break-word;
    align-self: center;
    justify-self: left;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 1.85vh 1.04vw;
    padding-bottom: 2.31vw;
    margin: 1.85vh 1.04vw;
    border: solid 4px #1e1e1e00;
}

.projectcard:hover {
    animation-name: rise;
    animation-duration: 1s;
    border: solid 4px #1e1e1e;
}


.card-title,
.description,
.status,
.tech,
.link,
.projectcard i {

    background-color: #ffffff;
    padding-left: 0.52vw;
    padding-bottom: 0.185vh;
}

.pimage {
    min-width: 15.625vw;
    min-height: 13.88vh;
    background-position: center;
    background-size: cover;
}

.card-title {
    font-size: 1.66vw;
    padding: 0.925vh 0.52vw;
}



.status,
.tech {
    font-size: 0.833vw;
}

.projectcard a {
    color: #1e1e1e;
    font-size: 1.4vw;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: left;
}

.contact-link {
    align-self: flex-start;
    justify-self: left;
    text-decoration: none;
    color: var(--primary);
    font-size: 1.875vw;
    padding: 1.388vh 0.26vw 0;
    margin: 0;
}



.contact-link:hover {
    animation-name: contacts;
    animation-duration: 200ms;
    font-size: 2.19vw;
}

#works-title {
    margin-right: 4vw;
}

#img-one {
    background-image: url('../assets/todo.png');
}

#img-two {
    background-image: url('../assets/skyze.png');
}

#img-three {
    background-image: url('../assets/ncrypter.png');
}

@media only screen and (max-width: 768px) {

    .navbar-container {
        background-color: var(--secondary);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        max-width: 100vw;
        min-width: 100vw;
        position: fixed;
        bottom: 0;
        height: 7vh;
        color: var(--primary);
    }

    .navbar-links {
        color: #1e1e1e;
        padding: 10px;
    }

    .maincontainer {
        flex-direction: column;
        justify-content: start;
        min-height: 100vh;
        max-height: 93vh;
    }


    .page-container {
        justify-content: center;
        min-width: 100vw;
        max-height: 90vh;
    }

    .hs {
        display: none;
    }

    .hm,
    .hs-m,
    .s {
        padding: 0;
        text-align: center;
        align-self: center;
        min-width: 100vw;
    }

    /* .hs-m {
        display: block;
        font-size: 30px;
    } */

    .hm {
        font-size: 120px;
    }

    .s {
        font-size: 15px;
    }


    .navdash {
        display: none;
    }

    #about,
    #works,
    #contact {
        flex-direction: column;
        min-height: 70vh;
        max-height: 80vh;
        padding: 0;
    }

    .about-title {
        transform: none;
        padding: 0;
        font-size: 42px;
        margin-top: 50px;

    }

    .about-text {
        font-size: 16px;
        margin: 0 25px;
    }


    .card-container {
        flex-direction: column;
        max-height: 80vh;
    }

    .pimage {
        display: none;
    }

    .projectcard {
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        height: 20vh;
        width: 75vw;
    }

    .card-title {
        font-size: 30px;
    }

    .description {
        font-size: 15px;
    }

    .tech,
    .status {
        font-size: 10px;
    }

    .projectcard i {
        font-size: 20px;
    }

    .contact-link {
        font-size: 32px;
        align-self: flex-start;
        text-align: center;
        align-self: center;
        justify-self: center;
    }

    #contact {
        justify-content: center;
    }

    .contact-link:hover {
        animation-name: none;
        font-size: 32px;
    }

}