.main{
    background-color: #2E3440;
    margin: 1vh 1vw;
}

.title{
    font-size:5rem;
    padding-bottom: 2vh;
}

.bodyContainer{
    display: grid;
    place-items: stretch;
    grid-template-columns: repeat(auto-fill,minmax(25vw,1fr));
    grid-gap: 10px;
}



