@import url('https://fonts.googleapis.com/css2?family=Abel&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --bg : #0A0A0A;
    --accent : #C80000;
    --secondary : #141414;
    --primary : #fff;
}